<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main>
  <h1>Admin Dashboard</h1>
  <ul>
    <li><a href="/admin/events">Manage Events</a></li>
    <li><a href="/admin/categories">Manage Categories</a></li>
    <li><a href="/admin/purchases">Manage Purchases</a></li>
    <li><a href="/admin/users">Manage Users</a></li>
    <li><a href="/admin/contacts">Contact Messages</a></li>
  </ul>
</main>

<%- include('../partials/footer') %>
